# Tuple

### It is a type of variable which can store number of elements in it
### Its elements once assigned, can not be changed
## &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hence, Tuple is Immutable

# Q1

####  &nbsp; Tuple is immutable. Nothing can be added or deleted from a Tuple.
#### &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; We can create a new tuple  
###  &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;                         using merge + operator
###  &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;                         converting into list

In [12]:
# creating an empty tuple

mytup = tuple()

# number of elemetns as input

n = int(input("Enter number of elements : "))

# iterating till the range

for i in range(0, n):
    ele = (input()) # reading input
    mytup=mytup + (ele,) # adding the element

print(mytup) #print tuple

Enter number of elements : 3
23
ed
3e
('23', 'ed', '3e')

In [27]:
Tp=("sd","34","erd","345")
print(type(Tp),"values are ",Tp)
mylist=list(Tp)
                    # print(len(mylist),mylist)
mylist.append("4e")
print(mylist)
MyTp=tuple(mylist)
print(type(MyTp), MyTp)

<class 'tuple'> values are  ('sd', '34', 'erd', '345')
4 ['sd', '34', 'erd', '345']
['sd', '34', 'erd', '345', '4e']
<class 'tuple'> ('sd', '34', 'erd', '345', '4e')

# Q2

In [26]:
# Reverse a Tuple
print((Tp))
print('The reversed Tuple is  (',Tp[::-1],')')

('sd', '34', 'erd', '345')
The reversed Tuple is  ( ('345', 'erd', '34', 'sd') )

# Q3

In [47]:
# Swap tuples

tup1=(11,22)
tup2=99,88

print("At starting ")
print("tup1: ", tup1,"tup2 :",tup2)

tup1,tup2=tup2,tup1    # swaping

print("After swaping ")
print("tup1: ", tup1,"tup2 :",tup2)

<class 'tuple'>
At starting
tup1:  (11, 22) tup2 : (99, 88)
After swaping
tup1:  (99, 88) tup2 : (11, 22)

# Q4

In [16]:
# modify tuple
tuple1 = (11, [22, 33], 44, 55)

lst1=tuple1[1]
lst1[0]=222
print(lst1)

print(tuple1)

[222, 33]
(11, [222, 33], 44, 55)

# Q5

In [49]:
# unpack a tuple
a={}
for i in range(len(tuple1)):
     a["a{}".format(i)]=tuple1[i]        # a["a%s" %i]=tuple1[i] 
print(a)

{'a0': 11, 'a1': [222, 33], 'a2': 44, 'a3': 55}

# Q6

In [8]:
# empty set

myset=set()
print(type(myset))

<class 'set'>

# Q7 & Q8

In [23]:
# create an intersection of sets
# symmetric difference in sets

set1={1,2,3,4,5}
set2={3,5,7,9,2}

n=set2.intersection(set1)
m=set2.symmetric_difference(set1)
print("Common elements :",n ,"\nDifferent Elements :",m)

Common elements : {2, 3, 5}
Different Elements : {1, 4, 7, 9}

# Q9

In [24]:
# Return a set of identical items
print("Identical items are :", set1 & set2)

Identical items are : {2, 3, 5}

# Q10

In [28]:
# Remove 10, 20, 30 elements from a following set
set1 = {10, 20, 30, 40, 50}
print("Original set is :", set1,"\n{10, 20, 30} will be deleted")

set1.difference_update({10,20,30})
print(set1)

Original set is : {40, 10, 50, 20, 30}
{10, 20, 30} will be deleted
{40, 50}

# Q11

In [39]:
# Access value 20 from the following tuple
example = ("Pooja", [10, 20, 30], (25, 50, 15))
lst=example[1]
n=lst[1]
n

20

# Q12

In [43]:
# Count the number of occurrences
numbers = (50, 10, 60, 70, 50)
print("50 has occured ", numbers.count(50),"times")

50 has occured  2 times